.agree {
    margin: 0;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
    .agree__widget {
        margin: 0 !important;
    }

    .agree__label {
        font-weight: normal;
        margin-left: 8px;
        font-size: 12px;
        line-height: 16px;
    }