.sortable-list {
    width: 300px;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    list-style-type: none;
    overflow-y: auto;
    min-height: 47px;
    margin-bottom: 10px;
}

.sortable-list__item {
    display: flex;
    margin: 3px;
    padding: 0.4em;
    background-color: #FFFFFF;
    border: 1px solid #888888;
    cursor: move;
    justify-content: space-between;
    align-items: center;
}

.sortable-list__status {
    color: #777620;
}

.sortable-list__level {
    font-size: 10px;
    color: #CCCCCC;
}

.sortable-list__controls {
    white-space: nowrap;
}