.aside {

}
    .aside__section {
        margin-top: 16px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 0 rgba(25, 27, 41, 0.2);
        border-radius: 32px;
    }

    .aside__section:first-child {
        margin-top: 0;
    }
        .aside__heading {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            padding: 16px 24px 4px;
            border: none;
            background-color: transparent;
            font-weight: bold;
            font-size: 20px !important;
            line-height: 24px !important;
            letter-spacing: -0.02em;
            text-align: left;
            cursor: text;
        }

        .aside__widget {
            padding: 0 24px 16px;
        }
            .aside__note {
                padding-bottom: 16px;
                font-family: var(--UI-14-16-font-family);
                font-size: var(--UI-14-16-font-size);
                line-height: var(--UI-14-16-line-height);
                letter-spacing: var(--UI-14-16-letter-spacing);
                color: var(--hintColor);
            }

            .aside__submit {
                margin-top: 16px;
            }

            .aside__submit.button,
            .aside__submit .button {
                width: 100%;
            }


            .aside__energy {
                display: inline-block;
                vertical-align: top;
                padding-right: 35px;
                background-image: url("../images/summary-energy.svg");
                background-size: 32px 32px;
                background-repeat: no-repeat;
                background-position: right center;
                font-weight: bold;
                font-size: 40px;
                line-height: 40px;
                letter-spacing: -0.02em;
            }


            .aside__preview {
                text-align: center;
            }

            .aside__operations {
                margin-top: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 18px;
            }
                .aside__action {

                }

                .aside__value {
                    margin-top: 1px;
                    width: 50px;
                    font-family: var(--H3-20-24-font-family);
                    font-weight: 500;
                    font-size: var(--H3-20-24-font-size);
                    line-height: var(--H3-20-24-line-height);
                    letter-spacing: var(--H3-20-24-letter-spacing);
                    text-align: center;
                }


            .aside__list {
                position: relative;
                padding-top: 17px;
            }

            .aside__list + .aside__list {
                margin-top: 16px;
            }
                .aside__list::before {
                    content: "";
                    position: absolute;
                    left: -24px;
                    right: -24px;
                    top: 0;
                    height: 1px;
                    background-color: #C7C8D0;
                }

                .aside__sub-heading {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -0.01em;
                }

                .aside__field {
                    margin-top: 16px;
                }

                .aside__goal {
                    position: relative;
                    margin-top: 16px;
                    padding: 12px 0 12px 48px;
                    background-size: 40px 40px;
                    background-repeat: no-repeat;
                    background-position: left center;
                    font-family: var(--UI-14-16-font-family);
                    font-size: var(--UI-14-16-font-size);
                    line-height: var(--UI-14-16-line-height);
                    letter-spacing: var(--UI-14-16-letter-spacing);
                }
                    .aside__booster {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                        .aside__booster.booster {
                            position: absolute;
                        }

                .aside__item {
                    display: block;
                    margin-top: 10px;
                    margin-bottom: -6px;
                    padding: 10px 0 10px 28px;
                    background-image: url("../images/aside-item.svg");
                    background-size: 24px 24px;
                    background-repeat: no-repeat;
                    background-position: left center;
                    font-family: var(--UI-14-16-font-family);
                    font-size: var(--UI-14-16-font-size);
                    line-height: var(--UI-14-16-line-height);
                    letter-spacing: var(--UI-14-16-letter-spacing);
                    color: var(--primaryColor-50pct) !important;
                    text-decoration: none !important;
                    transition: opacity var(--transition-hover);
                }

                .aside__item--completed {
                    background-image: url("../images/aside-item-completed.svg");
                    color: var(--primaryColor) !important;
                }

                .aside__item:not(.aside__item--completed):hover {
                    opacity: 0.7;
                    transition: none;
                }

                .aside__more {
                    margin-top: 6px;
                    margin-bottom: -2px;
                }




@media (max-width: 991px) {

    .aside {

    }
        .aside__section {
            margin-top: 0;
            box-shadow: none;
            border-top: 1px solid #C7C8D0;
            border-radius: 0;
        }

        .aside__section:first-child {
            border-top: none;
            border-top-left-radius: 32px;
            border-top-right-radius: 32px;
        }

        .aside__section:last-child {
            border-bottom-left-radius: 32px;
            border-bottom-right-radius: 32px;
        }
            .aside__heading {
                /*display: inline-block;*/
                /*vertical-align: top;*/
                /*width: 100%;*/
                /*padding: 16px 24px 4px;*/
                /*border: none;*/
                /*background-color: transparent;*/
                /*font-weight: bold;*/
                font-size: 14px !important;
                line-height: 16px !important;
                /*letter-spacing: -0.02em;*/
                /*text-align: left;*/
                cursor: pointer;
            }

            .aside__widget {
                /*padding: 0 24px 16px;*/
                display: none;
            }

            .aside__section--expanded .aside__widget {
                display: block;
            }

                .aside__section:not(.aside__section--expanded) .aside__heading {
                    padding-bottom: 16px;
                }

}
