.avatar {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    background-color: #FFFFFF;
    overflow: hidden; /* обрезаем наведение идентично картинке */
}
    .avatar__image {
        vertical-align: top;
    }

    .avatar:not(.avatar--no-hover):hover .avatar__image {
        opacity: 0.8;
    }
