.booster {
    display: block;
    width: 40px;
    padding-top: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: var(--font-ui);
    font-size: 9px;
    line-height: 16px;
    color: var(--primaryColor-80pct);
    text-align: center;
}

.booster--type-a { background-image: url("../images/booster-type-a.svg"); }
.booster--type-b { background-image: url("../images/booster-type-b.svg"); }
.booster--type-c { background-image: url("../images/booster-type-c.svg"); }
.booster--type-d { background-image: url("../images/booster-type-d.svg"); }
.booster--type-e { background-image: url("../images/booster-type-e.svg"); }

.booster--disabled {
    opacity: 0.2;
}
