.booster {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    padding-top: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: var(--font-ui);
    font-size: 9px;
    line-height: 16px;
    color: var(--primaryColor-80pct);
    text-align: center;
}
    .booster__icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        vertical-align: top;
    }

/* stylelint-disable */
.booster--start            { background-image: url("../images/boosters/booster-start.svg"); }
.booster--qualification-01 { background-image: url("../images/boosters/booster-qualification-01.svg"); }
.booster--qualification-02 { background-image: url("../images/boosters/booster-qualification-02.svg"); }
.booster--qualification-03 { background-image: url("../images/boosters/booster-qualification-03.svg"); }
.booster--qualification-04 { background-image: url("../images/boosters/booster-qualification-04.svg"); }
.booster--subscribe-01     { background-image: url("../images/boosters/booster-subscribe-01.svg"); }
.booster--subscribe-02     { background-image: url("../images/boosters/booster-subscribe-02.svg"); }
.booster--weekly           { background-image: url("../images/boosters/booster-weekly.svg"); }
.booster--power            { background-image: url("../images/boosters/booster-power.svg"); }
/* stylelint-enable */

.booster--disabled {
    opacity: 0.2;
}


.booster--smaller {
    width: 32px;
    padding-top: 32px;
    background-size: 32px 32px;
}

.booster--smallest {
    width: 24px;
    padding-top: 24px;
    background-size: 24px 24px;
}

.booster--micro {
    width: 16px;
    padding-top: 16px;
    background-size: 16px 16px;
}
