.button {
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    border: none;
    padding: 17px 32px;
    background-color: var(--buttonColor) !important;
    box-shadow: 0 1px 0 rgba(25, 27, 41, 0.2);
    border-radius: 27px;
    font-family: var(--UI-20-20-font-family) !important;
    font-weight: bold;
    font-size: var(--UI-20-20-font-size);
    line-height: var(--UI-20-20-line-height);
    letter-spacing: var(--UI-20-20-letter-spacing);
    color: var(--primaryColor) !important;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    cursor: pointer;
}

.button:hover {
    background-color: var(--buttonColor) !important;
}

.button:active {
    background-color: var(--buttonColor) !important;
}

.button:focus {
    background-color: var(--buttonColor) !important;
}
    .button__icon {
        vertical-align: top;
        fill: currentColor;
    }

    .button__icon--right {
        margin-left: 5px;
    }


.button--secondary {
    background-color: var(--panelBackground) !important;
    box-shadow: none;
}

.button--secondary:hover {
    background-color: var(--panelBackground) !important;
}

.button--secondary:active {
    background-color: var(--panelBackground) !important;
}

.button--secondary:focus {
    background-color: var(--panelBackground) !important;
}


.button--alternate {
    background-color: #2F3037 !important;
    color: #FFFFFF !important;
    box-shadow: none;
}

.button--alternate:hover {
    background-color: #2F3037 !important;
    color: #FFFFFF !important;
}

.button--alternate:active {
    background-color: #2F3037 !important;
    color: #FFFFFF !important;
}

.button--alternate:focus {
    background-color: #2F3037 !important;
    color: #FFFFFF !important;
}



.button--small {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 16px !important;
}

.button--smaller {
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 16px !important;
}

.button--smallest {
    padding: 7px 24px;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 16px !important;
}


.button--energy {

}
    .button--energy::after {
        content: "";
        margin-left: 5px;
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px;
        background-image: url("../images/button-energy.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center center;
    }
