.button {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 17px 20px;
    background-color: var(--buttonColor) !important;
    box-shadow: 0 1px 0 rgba(25, 27, 41, 0.2);
    border-radius: 27px;
    font-family: var(--UI-20-20-font-family) !important;
    font-weight: bold;
    font-size: var(--UI-20-20-font-size);
    line-height: var(--UI-20-20-line-height);
    letter-spacing: var(--UI-20-20-letter-spacing);
    color: var(--primaryColor) !important;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    cursor: pointer;
}

.button:hover {
    background-color: var(--buttonColor) !important;
}


.button:active {
    background-color: var(--buttonColor) !important;
}

.button:focus {
    background-color: var(--buttonColor) !important;
}
