.carousel {

}
    .carousel__container {
        overflow-x: auto; /* add scrollbar */
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* hide scrollbar in Firefox */
        -ms-overflow-style: none; /* hide scrollbar in Edge */
    }

    .carousel__container::-webkit-scrollbar {
      display: none;
    }
        .carousel__ribbon {
            display: inline-flex;
            vertical-align: top;
            min-width: 100%;
        }

        .popup .scrollable--expanded-width-padding .carousel__ribbon {
            padding-left: 15px;
            padding-right: 15px;
        }
            .carousel__item {
                flex-shrink: 0;
            }

    .carousel__control {
        display: none; /* swipe by finger */
    }


.carousel--avatar .carousel__ribbon {

}
    .carousel--avatar .carousel__item {
        padding: 2px 8px;
        background-image: url("../images/carousel-avatar.svg");
        background-size: 9px 2px;
        background-repeat: repeat-x;
        background-position: left center;
    }

@media (max-width: 992px) {
    .carousel {
        margin-left: calc(-1 * var(--mobile-container-padding));
        margin-right: calc(-1 * var(--mobile-container-padding));
    }
    .carousel--avatar .carousel__item:first-child {
        padding-left: 15px;
    }
    .carousel--avatar .carousel__item:last-child {
        padding-right: 15px;
    }
}

.carousel--avatar .carousel__item:last-child {
    margin-right: 0;
}

@media (min-width: 1100px) {

    .carousel {
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }
        .carousel__container {

        }
            .carousel__ribbon {
                width: 100%; /* we need to use things such as 20% inside of ribbon and we need to have context */
                padding-left: 0;
                padding-right: 0;
            }
                .carousel__item {

                }

        .carousel__control {
            position: absolute;
            top: 50%;
            margin-top: -20px !important;
        }

        .carousel__control--prev {
            left: 0;
        }

        .carousel__control--next {
            right: 0;
        }

        .carousel__control--disabled {
            opacity: 0.5;
            cursor: default;
        }


    .carousel--initialized {

    }
        .carousel--initialized .carousel__control {
            display: block;
        }

    .carousel--avatar {
        padding-left: 47px;
        padding-right: 47px;
    }

    .carousel--avatar::before {
        content: "";
        position: absolute;
        z-index: 10;
        left: 47px;
        top: 0;
        bottom: 0;
        width: 8px;
        background-image: linear-gradient(to right, #FFFFFF, rgba(255, 255, 255, 0));
    }

    .carousel--avatar::after {
        content: "";
        position: absolute;
        z-index: 10;
        right: 47px;
        top: 0;
        bottom: 0;
        width: 8px;
        background-image: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
    }

        .carousel--avatar .carousel__ribbon {

        }
            .carousel--avatar .carousel__item {

            }
}
