.flyover {
    position: fixed;
    z-index: 1025; /* Выше сайта, меньше чем модалки в бутстрапе */
    opacity: 0;
    background-color: var(--window-background);
    box-shadow: var(--window-shadow);
    border-radius: var(--window-radius);
    visibility: hidden;
    transition: opacity 0.2s ease,
                visibility 0.2s ease;
}
    .flyover__close {
        display: none;
    }

.flyover--visible {
    opacity: 1;
    visibility: visible;
}


@media (min-width: 992px) {
    /* Перехватываем наведение когда исчезает .flyover--visible */
    .flyover:hover {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 991px) {
    .flyover {

    }
        .flyover__close {
            position: absolute;
            right: 10px;
            top: 10px;
            display: block;
        }
}
