.flyover {
    z-index: 1025; /* Выше сайта, меньше чем модалки в бутстрапе */
}

@media (min-width: 992px) {

    .flyover {
        position: fixed;
        /* Координаты будут подсчитаны JS-ом */
        padding: var(--modal-spacing);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease,
                    visibility 0.2s ease;
    }

    /* Добавляем этот класс когда наводим на хендлер (ещё не флайовер) */
    .flyover--visible {
        opacity: 1;
        visibility: visible;
    }

    /* Перехватываем наведение когда исчезает .flyover--visible, и наводим уже нам сам флайовер */
    .flyover:hover {
        opacity: 1;
        visibility: visible;
    }
        .flyover .window__close {
            display: none;
        }
}

@media (max-width: 991px) {
    .flyover {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: none;
        align-items: center;
        justify-content: center;
        padding: var(--modal-spacing);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .flyover--visible {
        display: flex;
    }
}
