.flyover {
    position: fixed;
    z-index: 1025; /* Выше сайта, меньше чем модалки в бутстрапе */
    opacity: 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
    border-radius: 24px;
    visibility: hidden;
    transition: opacity 0.2s ease,
                visibility 0.2s ease;
}

.flyover--visible,
.flyover:hover {
    opacity: 1;
    visibility: visible;
}

