.health {
    display: inline-flex;
    align-items: flex-start;
    gap: 3px;
}
    .health__point {
        width: 10px;
        height: 14px;
        background-color: #DADBE3;
        border-radius: 5px / 4px;
    }

    .health__point--filled {

    }


.health--larger {
    gap: 9px;
}
    .health--larger .health__point {
        width: 12px;
        height: 17px;
        border-radius: 6px / 5px;
    }


.health--success {

}
    .health--success .health__point--filled {
        background-color: #00E300;
        background-image: linear-gradient(#00E300, #ABFD00);
    }

.health--warning {

}
    .health--warning .health__point--filled {
        background-color: #FF5500;
        background-image: linear-gradient(#FF5500, #FFC400);
    }

.health--danger {

}
    .health--danger .health__point--filled {
        background-color: #FF0000;
        background-image: linear-gradient(#FF0000, #FF6B00);
    }
