/* .override */

.link--inherit {
    color: inherit;
}

.link--inherit:hover {
    color: var(--buttonColor);
}

.link--text-alike {
    color: var(--primaryColor);
}

.link--text-alike:hover {
    color: var(--buttonColor);
}
