.menu {

}
    .menu__link {
        display: block;
        padding: 10px 16px;
        font-family: var(--H4-16-20-font-family);
        font-size: var(--H4-16-20-font-size);
        line-height: var(--H4-16-20-line-height);
        letter-spacing: var(--H4-16-20-letter-spacing);
        color: inherit !important;
        text-decoration: none !important;
    }

    .menu__link:hover {
        background-color: #F1F5F7 !important;
    }
