.queue {

}
    .queue__heading {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
    }

    .queue__body {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr 320px;
        gap: 40px;
    }
        .queue__sidebar {

        }
            .queue__side-section {

            }

        .queue__content {
            order: -1;
        }
