.queue {
    padding-bottom: 80px;
}
    .queue__heading {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
    }

    .queue__body {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr 320px;
        gap: 40px;
    }
        .queue__sidebar {
            min-width: 0;
        }
            .queue__side-section {

            }

        .queue__content {
            order: -1;
            min-width: 0;
        }
            .queue__head {
                margin-top: 6px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
                .queue__navigation {

                }

                .queue__sort {
                    margin-right: 38px;
                }

            .queue__empty {
                margin-top: 40px;
                padding-bottom: 40px;
            }

            .queue__list {
                margin-top: 24px;
            }
                .queue__item {
                    margin-top: 16px;
                    background-color: #FFFFFF;
                    box-shadow: 0 2px 0 rgba(25, 27, 41, 0.2);
                    border-radius: 32px;
                }

                .queue__item--no-energy {
                    box-shadow: inset 0 0 0 2px #191B29;
                }

                .queue__item:first-child {
                    margin-top: 0;
                }

    .queue__selection {
        position: fixed;
        z-index: 100;
        left: 220px;
        right: 0;
        bottom: 0;
        height: 80px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 28px rgba(0, 0, 0, 0.04),
                    0 12px 56px rgba(0, 0, 0, 0.04),
                    0 16px 72px rgba(0, 0, 0, 0.04);
    }

    @media (max-width: 1219px) {
        .queue__selection {
            left: 44px;
        }
    }

        .queue__selection-container {
            max-width: 1200px; /* Как и контенйера в раме сайта */
            margin-left: auto;
            margin-right: auto;
            padding-right: 360px;
            height: 100%;
        }
            .queue__selection-card {
                height: 100%;
                padding-left: 120px;
                padding-right: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
                .queue__checkbox {

                }

                .queue__boost.button,
                .queue__boost .button {
                    width: 216px;
                }

@media (max-width: 991px) {

    .queue {
        padding-left: var(--mobile-container-padding);
        padding-right: var(--mobile-container-padding);
    }
        .queue__heading {
            /*margin-top: 0 !important;*/
            /*margin-bottom: 0 !important;*/
            /*font-weight: bold;*/
            /*font-size: 40px;*/
            /*line-height: 40px;*/
        }

        .queue__body {
            /*margin-top: 24px;*/
            display: block;
            /*grid-template-columns: 1fr 320px;*/
            /*gap: 40px;*/
            position: relative;
            padding-top: 60px;
        }
            .queue__sidebar {

            }
                .queue__side-section {

                }

            .queue__content {
                /*order: -1;*/
            }
                .queue__head {
                    display: block;
                    /*align-items: center;*/
                    /*justify-content: space-between;*/
                }
                    .queue__navigation {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                    }

                    .queue__sort {
                        margin-right: 0;
                    }

                .queue__list {
                    margin-top: 6px;
                    margin-left: calc(-1 * var(--mobile-container-padding));
                    margin-right: calc(-1 * var(--mobile-container-padding));
                }
                    .queue__item {
                        /*margin-top: 16px;*/
                        /*background-color: #FFFFFF;*/
                        box-shadow: none;
                        border-bottom: 1px solid #C7C9D0;
                        border-radius: 0;
                    }

                    .queue__item:first-child {
                        /*margin-top: 0;*/
                    }

        .queue__selection {
            /*position: fixed;*/
            /*z-index: 100;*/
            left: 0;
            /*right: 0;*/
            /*bottom: 0;*/
            height: 64px;
            /*background-color: #FFFFFF;*/
            /*box-shadow: 0 2px 28px rgba(0, 0, 0, 0.04),*/
            /*            0 12px 56px rgba(0, 0, 0, 0.04),*/
            /*            0 16px 72px rgba(0, 0, 0, 0.04);*/
        }
            .queue__selection-container {
                /*max-width: 1200px; !* Как и контенйера в раме сайта *!*/
                /*margin-left: auto;*/
                /*margin-right: auto;*/
                padding-right: 0;
                /*height: 100%;*/
            }
                .queue__selection-card {
                    /*height: 100%;*/
                    padding-left: 24px;
                    padding-right: 24px;
                    /*display: flex;*/
                    /*align-items: center;*/
                    /*justify-content: space-between;*/
                }

                .queue__checkbox {

                }
                    .queue__checkbox .choice__label {
                        font-family: var(--font-ui) !important;
                    }

                .queue__boost.button,
                .queue__boost .button {
                    width: 145px;
                }
}
