:root {
    --font: 'Golos';
    --primaryColor: #191B29;
    --hintColor: rgba(25, 27, 41, 0.5);
    --buttonColor: #B0FC33;
    --mobile-container-padding: 16px;

    --UI-14-16-font-size: 14px;
    --UI-14-16-line-height: 16px;
    --UI-14-16-letter-spacing: -0.01em;

    --H4-16-20-font-size: 16px;
    --H4-16-20-line-height: 20px;
    --H4-16-20-letter-spacing: -0.01em;
}
