:root {
    --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);

    --font: 'Golos Text';
    --font-ui: 'Golos UI';
    --primaryColor: #191B29;
    --primaryColor-50pct: rgba(25, 27, 41, 0.5);
    --primaryColor-60pct: rgba(25, 27, 41, 0.6);
    --primaryColor-70pct: rgba(25, 27, 41, 0.7);
    --primaryColor-80pct: rgba(25, 27, 41, 0.8);
    --panelBackground: #E3E4EB;
    --panelBackground35pct: rgba(227, 228, 235, 0.35);
    --panelBackground50pct: rgba(227, 228, 235, 0.5);
    --hintColor: rgba(25, 27, 41, 0.5);
    --buttonColor: #B0FC33;
    --mobile-container-padding: 16px;
    --image-fallback: #B0FC33;

    --BODY-12-16-font-family: var(--font);
    --BODY-12-16-font-size: 12px;
    --BODY-12-16-line-height: 16px;
    --BODY-12-16-letter-spacing: 0;

    --BODY-14-20-font-family: var(--font);
    --BODY-14-20-font-size: 14px;
    --BODY-14-20-line-height: 20px;
    --BODY-14-20-letter-spacing: 0;

    --BODY-16-24-font-family: var(--font);
    --BODY-16-24-font-size: 16px;
    --BODY-16-24-line-height: 24px;
    --BODY-16-24-letter-spacing: -0.01em;

    --H3-20-24-font-family: var(--font);
    --H3-20-24-font-size: 20px;
    --H3-20-24-line-height: 24px;
    --H3-20-24-letter-spacing: -0.02em;

    --H4-16-20-font-family: var(--font);
    --H4-16-20-font-size: 16px;
    --H4-16-20-line-height: 20px;
    --H4-16-20-letter-spacing: -0.01em;

    --UI-14-16-font-family: var(--font-ui);
    --UI-14-16-font-size: 14px;
    --UI-14-16-line-height: 16px;
    --UI-14-16-letter-spacing: -0.01em;

    --UI-12-16-font-family: var(--font-ui);
    --UI-12-16-font-size: 12px;
    --UI-12-16-line-height: 16px;
    --UI-12-16-letter-spacing: -0.01em;

    --UI-16-16-font-family: var(--font-ui);
    --UI-16-16-font-size: 16px;
    --UI-16-16-line-height: 16px;
    --UI-16-16-letter-spacing: -0.01em;

    --UI-20-20-font-family: var(--font-ui);
    --UI-20-20-font-size: 20px;
    --UI-20-20-line-height: 20px;
    --UI-20-20-letter-spacing: -0.01em;
}
