.single-floor {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 4px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    user-select: none;
}

.single-floor:not(.single-floor--passed):not(.single-floor--current):not(.single-floor--has-my-avatar):hover {
    color: var(--buttonColor);
}
    .single-floor__value {
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        border: 2px solid transparent;
        padding-top: 6px;
        border-radius: 50%;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }


.single-floor--passed {

}
    .single-floor--passed .single-floor__value {
        color: #BABBBF;
    }


.single-floor--current {
    cursor: default !important;
}
    .single-floor--current .single-floor__value {
        background-color: #E3E4EB;
    }


.single-floor--has-my-avatar {

}
    .single-floor--has-my-avatar .single-floor__value {
        border-color: currentColor;
    }
