.mailing-add-contact-page {
    padding: 30px 0;
}
    .mailing-add-contact-page__back {
        margin: 0 30px;
    }

    .mailing-add-contact-page__tags {
        padding: 0 30px;
    }

    .mailing-add-contact-page__tabs {
        padding: 30px 30px 0;
    }